<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/styles.css" >
    <script src="/assets/jquery.min.js"></script>

  </head>
  <body>
<div class="container">
    <h1>Hello, world!</h1>

    <video id="myVideoArea"  autoplay></video>

<p>remote video </p>
    <video id="theirVideoArea"  autoplay></video>

<div>
<label> Your Name </label><input id="myName" type="text"/>
<label> Message </label><input id="myMessage" type="text"/>
<input id="sendMessage" type="submit"/>
<div id="chatArea">Meassage Output:</br></div>
<div id="signalingArea">Signaling Messages:</br></div>
</div>
</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/assets/jquery.min.js" ></script>
    <script src="/assets/tether.min.js" ></script>
    <script src="/assets/bootstrap.min.js" ></script>
        <script src="/assets/app.js" ></script>
               <script src="/assets/adapter-latest.js" ></script>
 


  </body>
</html>